* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

::selection {
    background-color: rgb(14, 132, 199);
    color: #fff;
}

.swal-overlay {
    background-color: rgb(14, 132, 199, 0.3);
    backdrop-filter: blur(1px);
}

body {
    width: 100%;
    height: 100%;
    background: rgb(14, 132, 199);
    background: linear-gradient(45deg, rgba(14, 132, 199, 1) 0%, rgba(0, 189, 255, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.container {
    width: 500px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.search-bar {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #eee;
    border-radius: 30px;
    padding: 5px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .2);
}

.input-search {
    width: 100%;
    height: 80%;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    text-transform: capitalize;
    color: rgba(14, 132, 199, 1);
}

.input-search::placeholder {
    opacity: .7;
    color: rgba(14, 132, 199, 1);
}

.search-btn {
    background: linear-gradient(45deg, rgba(14, 132, 199, 1) 0%, rgba(0, 189, 255, 1) 100%);
    color: #fff;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, .3);
    padding: 7px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.weather-container {
    width: 100%;
    background-color: #eee;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .2);
}

.section-left {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.item-left,
.sun-box {
    width: 200px;
    height: 100px;
    background: linear-gradient(45deg, rgba(14, 132, 199, 1) 0%, rgba(0, 189, 255, 1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .4);
}

.title {
    font-size: 15px;
    opacity: .8;
}

.title span {
    font-size: 25px;
}

.section-right {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-bar .icon-weather {
    width: 200px;
    background: linear-gradient(45deg, rgba(14, 132, 199, 1) 0%, rgba(0, 189, 255, 1) 100%);
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .4);
}

.main-temp {
    font-size: 60px;
    margin-top: 20px;
}

.infomation {
    font-size: 22px;
    text-transform: capitalize;
    margin: 5px 0;
}

.city-bar {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    font-size: 22px;
    text-transform: capitalize;

}

.feel-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.feel-temp,
.deg-wind {
    width: 320px;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: linear-gradient(45deg, rgba(14, 132, 199, 1) 0%, rgba(0, 189, 255, 1) 100%);
    color: #fff;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .4);
}

.deg-wind {
    width: 60px;
    height: 60px;
}

.city-bar .fa-map-marker {
    color: rgb(14, 132, 199);
}


.sun-status {
    width: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sunset,
.sunrise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sunset p,
.sunrise p {
    font-size: 22px;
}

.sun-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sun-box img {
    width: 50px;
}

@media screen and (max-width:500px) {
    .container {
        width: 340px;
    }

    .search-bar {
        width: 300px;
    }

    .item-left,
    .sun-box {
        width: 140px;
        font-size: 16px;
        padding: 0 5px;
    }

    .feel-temp {
        width: 210px;
    }

    .main-temp {
        font-size: 45px;
    }

    .icon-bar img {
        width: 120px;
    }

    .infomation,
    .city-bar {
        font-size: 20px;
    }

    .title {
        font-size: 12px;
    }
}